.main {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: calc(100vw - var(--menuWidth));
  left: var(--menuWidth);
  transition: 0.3s;
}
.main.menuHidden {
  /*left: 64px;
  /*width: calc(100vw - 64px);*/
  top: var(--menuMinHeigth);
  left: 0;
  width: 100%;
  height: calc(100% - calc(var(--menuMinHeigth)));
}
