.App {
  color: white;
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
}

.App > div {
  display: flex;
  flex-direction: column;
  padding: 30px;
  line-height: 4rem;
}
.App > div > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
