.sideBar {
  background: linear-gradient(45deg, #232526, #414345);

  color: hsl(54, 100%, 63%);
  padding-right: 0;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  position: absolute;
  top: 0;
  left: 0;

  width: var(--menuWidth);
  height: 100vh;

  flex-direction: column;
  font-weight: 700;
  border-right: 1px solid hsl(0 0% 100% / 5%);
  transition: 0.3s;
}
.sideBar.hidden {
  width: 100vw;
  height: var(--menuMinHeigth);
  flex-direction: row;
  border: none;
  border-bottom: 1px solid hsl(0 0% 100% / 5%);
}

.sideBar ul {
  width: calc(var(--menuWidth) - 20px);
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 100px;
  transition: 0.3s;
}
.hidden.sideBar ul {
  width: 100%;
  padding-top: 10px;
  flex-direction: row;
  justify-content: space-evenly;
}

.sideBar li {
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  justify-items: center;
  transition: 0.3s;
}
.hidden.sideBar li {
  cursor: pointer;
  border-radius: 10px;
  width: 44px;
  justify-items: center;
}

.sideBar li a {
  line-height: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-weight: lighter;
  transition: 0.3s;
}
.link {
  padding: 10px;
}

.sideBar li:hover {
  background-color: hsl(0 0% 100% / 5%);
}
.active {
  background-color: hsl(0 0% 100% / 5%);
  color: hsl(121, 76%, 62%);
  border-radius: 10px;
}
.logo > div {
  margin-top: 16px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.logo > div:hover {
  background-color: hsl(0 0% 100% / 5%);
}
.logo {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
}
